---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_2>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1553120479'
      Etag:
      - W/"1193cf1b8042fa92b569a81fcafc836f"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jojoxmz","id":31379005,"node_id":"MDQ6VXNlcjMxMzc5MDA1","avatar_url":"https://avatars1.githubusercontent.com/u/31379005?v=4","gravatar_id":"","url":"https://api.github.com/users/jojoxmz","html_url":"https://github.com/jojoxmz","followers_url":"https://api.github.com/users/jojoxmz/followers","following_url":"https://api.github.com/users/jojoxmz/following{/other_user}","gists_url":"https://api.github.com/users/jojoxmz/gists{/gist_id}","starred_url":"https://api.github.com/users/jojoxmz/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jojoxmz/subscriptions","organizations_url":"https://api.github.com/users/jojoxmz/orgs","repos_url":"https://api.github.com/users/jojoxmz/repos","events_url":"https://api.github.com/users/jojoxmz/events{/privacy}","received_events_url":"https://api.github.com/users/jojoxmz/received_events","type":"User","site_admin":false},{"login":"WslyStvnChng","id":20217929,"node_id":"MDQ6VXNlcjIwMjE3OTI5","avatar_url":"https://avatars1.githubusercontent.com/u/20217929?v=4","gravatar_id":"","url":"https://api.github.com/users/WslyStvnChng","html_url":"https://github.com/WslyStvnChng","followers_url":"https://api.github.com/users/WslyStvnChng/followers","following_url":"https://api.github.com/users/WslyStvnChng/following{/other_user}","gists_url":"https://api.github.com/users/WslyStvnChng/gists{/gist_id}","starred_url":"h[...]
