---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_TOKEN_1>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1553117652'
      Etag:
      - W/"fbca0f569976a7c4afe66d8a7d423119"
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":169347133,"node_id":"MDEwOlJlcG9zaXRvcnkxNjkzNDcxMzM=","name":"little_shop","full_name":"aprildagonese/little_shop","private":false,"owner":{"login":"aprildagonese","id":41272635,"node_id":"MDQ6VXNlcjQxMjcyNjM1","avatar_url":"https://avatars2.githubusercontent.com/u/41272635?v=4","gravatar_id":"","url":"https://api.github.com/users/aprildagonese","html_url":"https://github.com/aprildagonese","followers_url":"https://api.github.com/users/aprildagonese/followers","following_url":"https://api.github.com/users/aprildagonese/following{/other_user}","gists_url":"https://api.github.com/users/aprildagonese/gists{/gist_id}","starred_url":"https://api.github.com/users/aprildagonese/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/aprildagonese/subscriptions","organizations_url":"https://api.github.com/users/aprildagonese/orgs","repos_url":"https://api.github.com/users/aprildagonese/repos","events_url":"https://api.github.com/users/aprildagonese/events{/privacy}","received_events_url":"https://api.github.com/users/aprildagonese/received_events","type":"User","site_admin":false},"html_url":"https://github.com/aprildagonese/little_shop","description":null,"fork":false,"url":"https://api.github.com/repos/aprildagonese/little_shop","forks_url":"https://api.github.com/repos/aprildagonese/little_shop/forks","keys_url":"https://api.github.com/repos/aprildagonese/little_shop/keys{/key_id}","collaborators_url":"https://api.github.com/repos/aprildagonese/little_shop/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/aprildagonese/little_shop/teams","hooks_url":"https://api.github.com/repos/aprildagonese/little_shop/hooks","issue_events_url":"https://api.github.com/repos/aprildagonese/little_shop/issues/events{/number}","events_url":"https://api.github.com/repos/aprildagonese/little_shop/events","assignees_url":"https://api.github.com/repos/aprildagonese/little_shop/assignees{/user}","branches_url":"https://api.github.com/repos/aprildagonese/little_shop/branches{/branch}","tags_url":"https://api.github.com/repos/aprildagonese/little_shop/tags","blobs_url":"https://api.github.com/repos/aprildagonese/little_shop/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/aprildagonese/little_shop/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/aprildagonese/little_shop/git/refs{/sha}","trees_url":"https://api.github.com/repos/aprildagonese/little_shop/git/trees{/sha}","statuses_url":"https://api.github.com/repos/aprildagonese/little_shop/statuses/{sha}","languages_url":"https://api.github.com/repos/aprildagonese/little_shop/languages","stargazers_url":"https://api.github.com/repos/aprildagonese/little_shop/stargazers","contributors_url":"https://api.github.com/repos/aprildagonese/little_shop/contributors","subscribers_url":"https://api.github.com/repos/aprildagonese/little_shop/subscribers","subscription_url":"https://api.github.com/repos/aprildagonese/little_shop/subscription","commits_url":"https://api.github.com/repos/aprildagonese/little_shop/commits{/sha}","git_commits_url":"https://api.github.com/repos/aprildagonese/little_shop/git/commits{/sha}","comments_url":"https://api.github.com/repos/aprildagonese/little_shop/comments{/number}","issue_comment_url":"https://api.github.com/repos/aprildagonese/little_shop/issues/comments{/number}","contents_url":"https://api.github.com/repos/aprildagonese/little_shop/contents/{+path}","compare_url":"https://api.github.com/repos/aprildagonese/little_shop/compare/{base}...{head}","merges_url":"https://api.github.com/repos/aprildagonese/little_shop/merges","archive_url":"https://api.github.com/repos/aprildagonese/little_shop/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/aprildagonese/little_shop/downloads","issues_url":"https://api.github.com/repos/aprildagonese/little_shop/issues{/number}","pulls_url":"https://api.github.com/repos/aprildagonese/little_shop/pulls{/number}","milestones_url":"https://api.github.com/repos/aprildagonese/little_shop/milestones{/number}","notifications_url":"https://api.github.com/repos/aprildagonese/little_shop/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/aprildagonese/little_shop/labels{/name}","releases_url":"https://api.github.com/repos/aprildagonese/little_shop/releases{/id}","deployments_url":"https://api.github.com/repos/aprildagonese/little_shop/deployments","created_at":"2019-02-06T02:50:20Z","updated_at":"2019-02-21T15:20:03Z","pushed_at":"2019-02-27T03:07:10Z","git_url":"git://github.com/aprildagonese/little_shop.git","ssh_url":"git@github.com:aprildagonese/little_shop.git","clone_url":"https://github.com/aprildagonese/little_shop.git","svn_url":"https://github.com/aprildagonese/little_shop","homepage":null,"size":6973,"stargazers_count":3,"watchers_count":3,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"archived":false,"open_issues_count":1,"license":null,"forks":2,"open_issues":1,"watchers":3,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":167980614,"node_id":"MDEwOlJlcG9zaXRvcnkxNjc5ODA2MTQ=","name":"book_club","full_name":"n-flint/book_club","private":false,"owner":{"login":"n-flint","id":34421236,"node_id":"MDQ6VXNlcjM0NDIxMjM2","avatar_url":"https://avatars3.githubusercontent.com/u/34421236?v=4","gravatar_id":"","url":"https://api.github.com/users/n-flint","html_url":"https://github.com/n-flint","followers_url":"https://api.github.com/users/n-flint/followers","following_url":"https://api.github.com/users/n-flint/f[...]
